{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 

<body class="content">
    {% if user.is_authenticated %}
    <h2>Change Password</h2>
    <form action="change_pwd" method = "POST" >
        {%csrf_token%}
        <!-- {{ form.as_p }} -->   
        <!-- <label for="oldpass">Old Password:</label>
        <input type="text" name="oldpass" required="required">
        <br><br> -->

        <label for="newpass1">New Password:</label>
        <input type="password" name="newpass1" required="required">
        <br><br>

        <label for="newpass2">Confirm Password:</label>
        <input type="password" name="newpass2" required="required">
        <br><br>
        <button type="submit">Reset Password</button>
        <input type="hidden" value={{user.id}} name="id">
    </form>

    <div>
        <center><label class="text-danger">{{ msg }}</label></center>
    </div>
{%else%}
<div class="row">
    <ul class="page-links">
        <li><a href="login">Login</a></li>
    </ul>
    <ul class="page-links">
        <li><a href="register">Sign Up Here</a></li>
    </ul>
</div>
{%endif%}

</body>
{% endblock content %}